.wp-block-create-block-static-custom-paragraph.aligncenter {
	text-align: center;
}

.wp-block-create-block-static-custom-paragraph.alignright {
	text-align: end;
}
.wp-block-create-block-static-custom-paragraph {
	background: #0c6ca0;
}
